<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>MamaTips | Home</title>
    <meta name="description" content="YOU have a Venture that will Impact Lives. We’re your X Factor.">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Poppins:200,300,400,500,700" rel="stylesheet">
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- SCRIPTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- Google jQuery API -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Scroll to -->
    <script src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>

    <!-- Schema.org markup for Google+
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta itemprop="name" content="You X Ventures">
    <meta itemprop="description" content="YOU have a Venture that will Impact Lives. We’re your X Factor.">
    <meta itemprop="image" content="http://youxventures.com/logos/yxv-updated-logo.png">

    <!-- Facebook Open Graph
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta property="og:title" content="You X Ventures" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.youxventures.com">
    <meta property="og:image" content="http://youxventures.com/logos/yxv-updated-logo.png" />
    <meta property="og:description" content="YOU have a Venture that will Impact Lives. We’re your X Factor." />
    <meta property="og:site_name" content="You X Ventures" />

    <!-- Twitter Card
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@youxventures" />
    <meta property="twitter:title" content="You X Ventures">
    <meta property="twitter:description" content="YOU have a Venture that will Impact Lives. We’re your X Factor.">
    <meta property="twitter:image" content="http://youxventures.com/logos/yxv-updated-logo.png">
    <meta name="twitter:creator" content="@youxventures" />


    <!-- Favicon & Icons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" hhref="/images/favicons/apple-touch-icon-57-precomposed.png">

</head>

<body>

    <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <header class="large" id="navigation">
        <div class="container-header">
            <a href="index.html#"><img class="header__logo" src="images/logos/yxv-updated-logo.png" alt="You X Ventures">
            </a>
            <a id="menu-icon" class="burger-lines" aria-label="Toggle Mobile Menu"><img src="images/icons/ham-nav.png" alt="Hamburger menu icon for mobile screens">
            </a>

            <nav class="navbar">
                <ul class="header__navigation">
                    <li><a href="index.html#story">About Us<span class="green-accent">.</span></a>
                    </li>
                    <li><a href="index.html#work">What We Do<span class="green-accent">.</span></a>
                    </li>
                    <li><a href="index.html#team">Team<span class="green-accent">.</span></a>
                    </li>
                    <a class="nav-btn" href="mailto:jason@youxventures.com">
                        <button>Contact Us</button>
                    </a>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="hero__content container">
            <div class="six columns hero-left">
                <h1 class="hero__content--tagline"> People <span style="font-size: 30px;line-height: 16px; color: #03BFD2; ">&#8250;</span> Pixels</h1>
                <a href="https://medium.com/@jgyouxventures/6db168206d6f" target="_blank">
                    <button>Read our Manifesto</button>
                </a>
            </div>
            <div class="six columns hero-right">
                <h1 class="hero__content--title"><span class="green-accent">Maternal</span> and <span class="green-accent">Pediatric</span> healthcare information delivered to your phone.</h1>
            </div>
        </div>
    </section>

    <section id="story" class="section story">
        <div class="container">
            <div class="six columns">
                <h2 class="section-heading section-heading--left">About Us<span class="green-accent">.</span></h2>
                <p>Mamatips is a lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
            <div class="six columns story-col-right">
                <img src="images/backgrounds/story-image-cluster__compressed.jpg" alt="You X Ventures Photo Collage">
            </div>
        </div>
    </section>

    <section id="work" class="section work">
        <div class="container">
            <h2 class="section-heading section-heading--center">Our Services<span class="green-accent">.</span></h2>
            <p class="section-subheading">We relentlessly lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

            <div class="work__item row">
                <div class="six column work__project work__project--left box-shadow work__project--tohealth">
                    <span class="work__project__category">Healthcare</span>
                    <div class="work__project__content">
                        <h3 class="work__project__title">TO Health!</h3>
                        <p class="work__project__desc">Design Partner</p>
                    </div>
                </div>
                <div class="six column work__quote">
                        <p>Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                      
                </div>
            </div>

            <div class="work__item row">
                <div class="six column work__quote">
                    <p>Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="six column work__project work__project--right box-shadow work__project--ruutly">
                    <span class="work__project__category">Education</span>
                    <div class="work__project__content">
                        <h3 class="work__project__title">Ruutly</h3>
                        <p class="work__project__desc ">Product Design Team</p>
                    </div>
                </div>
            </div>

            <div class="work__item row">
                <div class="six column work__project work__project--left box-shadow work__project--fourfridges">
                    <span class="work__project__category">Nutrition</span>
                    <div class="work__project__content">
                        <h3 class="work__project__title">The Superfood Effect</h3>
                        <p class="work__project__desc">Product Design & Development</p>
                    </div>
                </div>
                <div class="six column work__quote">
                    <p>Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. <br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
    </section>

    <section id="team" class="section team">
        <div class="container">
            <h2 class="section-heading section-heading--center">Team<span class="green-accent">.</span></h2>
            <div class="row founder-row">
                <div class="founder box-shadow four columns">
                    <img class="founder__image" src="images/team-photos/Tall.jpg" alt="">
                    <h3 class="founder__title purple-header">Laurene Amoit</h3>
                    <p>Social Entrepreneur</p>
                    <ul class="founder__social">
                        <li><a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"><span class="sr-only">Link to LinkedIn profile</span></i></a>
                        </li>
                        <li><a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Link to Twitter profile</span></a>
                        </li>
                    </ul>
                </div>

                <div class="founder box-shadow four columns">
                    <img class="founder__image" src="images/team-photos/Tall.jpg" alt="">
                    <h3 class="founder__title purple-header">Fanice Mangoja</h3>
                    <p>Bioengineering</p>
                    <ul class="founder__social">
                        <li><a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"><span class="sr-only">Link to LinkedIn profile</span></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/e_ambursley/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i><span class="sr-only">Link to Instagram profile</span></a>
                        </li>
                    </ul>
                </div>

                <div class="founder box-shadow four columns">
                    <img class="founder__image" src="images/team-photos/Tall.jpg" alt="">
                    <h3 class="founder__title purple-header">Gloria Nyanja</h3>
                    <p>Public Health</p>
                    <ul class="founder__social">
                        <li><a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"><span class="sr-only">Link to LinkedIn profile</span></i></a>
                        </li>
                        <li><a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Link to Twitter profile</span></a>
                        </li>
                    </ul>
                </div>
                <div class="founder box-shadow four columns">
                    <img class="founder__image" src="images/team-photos/Tall.jpg" alt="">
                    <h3 class="founder__title purple-header">Duncan Inganji</h3>
                    <p>Electrical Engineer</p>
                    <ul class="founder__social">
                        <li><a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"><span class="sr-only">Link to LinkedIn profile</span></i></a>
                        </li>
                        <li><a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Link to Twitter profile</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="section services">
        <div class="container">
            <h2 class="section-heading section-heading--center">Partners<span class="green-accent">.</span></h2>

            <div class="service-item row">
                <div class="service__card box-shadow four columns">
                    <div class="service__image__box">
                        <img src="images/icons/startup-icon.png" alt="Rocketship icon">
                    </div>
                    <div class="service__description">
                        <h3 class="service__title purple-header">Dr McAlhaney</h3>
                        <p>Surgery and Community Health</p>
                    </div>
                </div>
                <div class="service__card box-shadow four columns">
                    <div class="service__image__box product__icon">
                        <img src="images/icons/product-icon-new.png" alt="Lightbulb icon">
                    </div>
                    <div class="service__description">
                        <h3 class="service__title purple-header">Joram Ndung'u</h3>
                        <p>Community Health Development</p>
                    </div>
                </div>
                <div class="service__card box-shadow four columns">
                    <div class="service__image__box">
                        <img src="images/icons/design-icon.png" alt="Pencil and paper icon">
                    </div>
                    <div class="service__description">
                        <h3 class="service__title purple-header">Carolyn Waithera</h3>
                        <p>Public and Community Health Associate</p>
                    </div>
                </div>
            </div>

            <div class="service__workshop__box box-shadow row">
                <div class="workshop__image four columns">
                    <img src="images/icons/questions-icon.png" alt="Icon of two people, lightbulb over them">
                </div>
                <div class="four columns workshop-mid-col">
                    <!-- <h4 class="workshop-subtitle">Workshop</h4> -->
                    <p>The Kijabe Maternal Newborn Community Health Clinic team is a unique and complementary combination of age, skill and experience.</p>
                    <!-- <p><span class="service__cost">$2,500</span> per week</p> -->
                </div>
                <div class="workshop__list four columns">
                    <h4 class="workshop-subtitle">Kijabe Hospital</h4>
                    <p>Maternal Newborn Community Health Clinic</p>
                    <a href="mailto:jason@youxventures.com?subject=Interest in a You X Ventures Workshop">
                        <button>Get in touch</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="section contact">
        <div class="container contact--top-row">
            <div class="contact__content six columns">
                <h2 class="section-heading section-heading--left">Find Us Online<span class="green-accent">.</span></h2>
                <hr>
                <h3 class="purple-header">We're very social:</h3>
                <ul class="contact__content__list">
                    <li><a href="https://www.facebook.com/youxventures/" target="_blank">Facebook</a>
                    </li>
                    <li><a href="https://twitter.com/youxventures" target="_blank">Twitter</a>
                    </li>
                    <li><a href="https://dribbble.com/youxventures" target="_blank">Dribbble</a>
                    </li>
                    <li><a href="https://angel.co/youxventures" target="_blank">Angelist</a>
                    </li>
                    <li><a href="https://www.instagram.com/youxventures/" target="_blank">Instagram</a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/10891598?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A627214721484100487630%2CVSRPtargetId%3A10891598%2CVSRPcmpt%3Aprimary" target="_blank">LinkedIn</a>
                    </li>
                </ul>
            </div>

            <div class="contact__box--images six columns">
                <div class="kids-tech__headline row">
                    <img src="images/logos/kxt-logo.png" alt="Kids and Tech Logo">
                    <h2>Join us at Kids x Tech<span class="red-accent">.</span></h2>
                </div>
                <div class="kids-tech__content row">
                    <p>We run a quarterly event that explores the intersection of technology with child development and play. Join our community and check-out our next event!</p>
                    <a href="index.html#" id="open-popup" onclick="showMailingPopUp(); return false;">Join the KidsxTech Slack Community</a>
                    <a href="https://www.meetup.com/kidsxtech/" target="_blank">meetup.com/kidsxtech</a>
                </div>
            </div>
        </div>

        <div class="container contact--bottom-row">
            <div class="contact__box--images six columns">
                <div class="wework-stack">
                    <div class="stack stack-one"></div>
                    <div class="stack stack-two"></div>
                    <div class="stack stack-three"></div>
                    <div class="stack stack-four"></div>
                </div>
            </div>
            <div class="contact__content six columns">
                <h2 class="section-heading section-heading--left">Get in touch<span class="green-accent">.</span></h2>
                <p>Let's grab a coffee!
                    <br /> Email us at:
                    <br /> <a href="mailto:hey@youxventures.com?subject=Coffee?">hey@youxventures.com</a>
                </p>
                <hr>
                <h3 class="purple-header">Visit Us:</h3>
                <p><span>You X Ventures</span>
                    <br />WeWork Richmond St. West (4th Floor)
                    <br />240 Richmond St W, Toronto, ON M5V 2C5</p>
            </div>
        </div>
    </section> -->

    <script type="text/javascript">
        // Toggle mobile menu
        $(document).ready(function() {
            $('#menu-icon').on('click', function() {
                $('.navbar').toggleClass('expand');
                $('#navigation').toggleClass('container-header');
            });

            $('.header__navigation > li a').on('click', function() {
                $('.navbar').toggleClass('expand');
                return false;
            });

            // Scroll to JS
            $(".header__navigation a").click(function() {
                // e.preventDefault();
                $('html,body').scrollTo(this.hash, this.hash);
            });

        });

        // Reduce size of header on scroll
        $(document).on("scroll", function() {

            if ($(document).scrollTop() > 100) {
                $("header").removeClass("large").addClass("small");
            } else {
                $("header").removeClass("small").addClass("large");
            }

        });
    </script>


    <script>
        function showMailingPopUp() {
            require(["mojo/signup-forms/Loader"], function(L) {
                L.start({
                    "baseUrl": "mc.us16.list-manage.com",
                    "uuid": "b31e28bc63a7f0c1cf02a18c8",
                    "lid": "c163e29d4d"
                })
            })
            document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            document.cookie = 'MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
        };
        document.getElementById("open-popup").onclick = function() {
            showMailingPopUp(), event.preventDefault()
        };
    </script>


    <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>